body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.stopwatch {
    text-align: center;
    justify-content: center;
}

#display {
    font-size: 10rem;
    margin-bottom: 10px;
}

input {
    width: 50px;
    text-align: center;
    margin: 5px;
}

button {
    font-size: 1em;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

